.Home .lander {
    color: #A4DDD1;
    padding: 80px 0;
    text-align: center;
}

.home .header {
    color: #A4DDD1;
}

.Home .lander h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
}

.Home .lander p {
    color: #999;
}

.Home .list-item list-group-item :hover{
    background-color: #A4DDD1;
}
.Home .first-item{
    background-color: #A4DDD1;
}

.Home .all-posts{
    background-color: black;
}

.Home .posts h4 {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    overflow: hidden;
    line-height: 1.5;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.Home .posts p {
    color: #666;
}